/*reset e font*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    padding: 40px;
    text-align: center;
}

/*titoli*/
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: red;
}

.subtitle {
    max-width: 600px;
    margin: 0 auto 40px;
    color: blue;
}

/*griglia card*/
.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;

}