/*reset e font*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    padding: 40px;
    text-align: center;
}