/*reset e font*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    padding: 40px;
    text-align: center;
}

/*titoli*/
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: red;
}

.subtitle {
    max-width: 600px;
    margin: 0 auto 40px;
    color: blue;
}

/*griglia card*/
.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 200px;
    max-width: 1100px;
    margin: 0 auto;

}

/*singola card*/
.team-card {
    background: azure;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
}

.team-card:hover {
    transform: translateY(-5px);
}
/*immagini*/
.team-card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
}

/*testi*/
.team-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.role {
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.email {
  font-size: 14px;
  color: greenyellow;
}

